<a href="https://colab.research.google.com/github/twindragoon/Prog2_11th/blob/main/work2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

numpyパートでは、１～３６と０，００があるルーレットでの一つの内部操作の仕組みをプログラミングで表現することにしました。

> 今回採用した仕組みは、サインカーブと今の収支のプラスマイナスを混合させた形となっています。

今回のこのコードを扱うためのガイドをここに置きます。

1.   この計画を立ててからまだ十分に時間がたっていません。よってまだ内部調整といえどもレベルが低いものとなっています。今回のはどちらかというと内部調整の仕方をコードでみなさんに伝えようというものですので、その点はご承知ください。
2.   途中でベット枚数とベットナンバーをどうするか問われますが、**必ず「（ベット枚数）,（ベットナンバー）」**のように記入してください。
3.   pythonの仕様上０と００が同一の数値となってしまうため、**００は100として入力**してください。
4.   今回のコードの仕様ではここかinput文に書いてないような書式にしてしまうとpythonでエラーが出るため注意をお願いします。
4.   まだうまく作動しないポイントもありますが、それらは自分が順次調整したいと思っているためよろしくお願いします。

調整間に合わなかったのでこのバージョンではCSVファイルでの保存機能はなしでお願いします。

In [10]:
#rt
#listrt=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,0,100],100=00の代用
import numpy as np
from random import randint as rd
import pandas as pd
import sys
def sincu(basept,a=100,T=5,t=0):
  x=T
  sins=np.sin((np.pi*t)/T)*a+basept
  return sins
def rtodds():
  return [2,3,9,18,36]
def rthazusi(tage,list):
  ryou=np.random.randint(1,38)
  #ryou=1
  x=list.index(tage+1)
  return list[(ryou+x)%38]
def naibu(A,T,t,hai,base):
  naibu_pt=sincu(base,A,T,t)
  if naibu_pt+hai<=0:
    tyuusenA=20 #A=あたるように仕向ける,B=純粋なルーレット,C＝必ず外れるように仕向ける
    tyuusenB=85
    tyuusenC=100
  else:
    tyuusenA=2
    tyuusenB=20
    tyuusenC=100
  return tyuusenA,tyuusenB,tyuusenC #あとでこれを用いて外しモード等抽選
def roulette(list,mynumber,bets,nowtimes,waveheight,wavetime,bbase): #こっちは１回分で行ってメインでループさせる。
  rtnumber=rd(0,37)
  won=bets*rtodds()[4]
  a,b,c=naibu(waveheight,wavetime,nowtimes,won,bbase)
  check=rd(1,100)
  if check<=a:
    rtnumber=mynumber
  elif check<=b:
    rtnumber=rtnumber
  else:
    rtnumber=rthazusi(mynumber,list)
  #ここから比較
  if rtnumber==mynumber:
    return won,bets,rtnumber
  else:
    return 0,bets,rtnumber


rtlist=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,0,100+1]
#print(rtlist[1])
#print(rthazusi(1,rtlist))
#事前準備など
#csvhave=input('対応したCSVファイルがあればここに入力し、ロードしてください：')
#csvload=''
#if csvhave!='':
  #csvload=pd.read_csv(csvhave,index=False)
  #betsint=[csvload.iloc[-1][0],csvload.iloc[-1][1]]
  #print(betsint)
#elif csvload=='' : #ここの保存後のとこが課題か
csvload=pd.DataFrame([[0,0,0,0,0]])
csvload.columns=['BET','ベットナンバー','出たナンバー','収支','回数']
BOTon=int(input('ベット枚数、ベッドナンバーをBOTに任せますか？（１でyes）：'))
if BOTon==1:
  bet=input('ベット枚数、ベットナンバーを順に決めてください：')
  #BOTgame=int(input('何ゲーム間BOTがベットしますか？：')) #今は途中切り替え不可で、すまない
games=int(input('何ゲーム間行いますか？：'))
base=0

for e in range(games):
  if BOTon==0:
    bet=input('ベット枚数、ベットナンバーを順に決めてください：')
  bets=bet.split(',')
  betsint=[int(bets[0]),int(bets[1])]
  rt1,rt2,rt3=roulette(rtlist,betsint[1],betsint[0],e+1,10000,20,base)
  if rt1!=0:
    #print(f'YOU WON! {rt1}medals get!')
    base+=rt1
    #print(f'next base:{base}')
  base-=betsint[0]
  if True:
    csvload=csvload.append({'BET':betsint[0],'ベットナンバー':betsint[1],'出たナンバー':rt3,'収支':base,'回数':e+1},ignore_index=True)
  #else:
    #csvload=csvload.append({'BET':betsint[0],'ベットナンバー':betsint[1],'出たナンバー':rt3,'収支':base,'回数':csvload.iloc [-1][-1]},ignore_index=True)
#csvsave=int(input('この結果を一時保存しますか？（１＝yes）：'))
#if csvsave==1:
  #csvload.to_csv('RTplays.csv')
csvload  #表を出す用

ベット枚数、ベッドナンバーをBOTに任せますか？（１でyes）：1
ベット枚数、ベットナンバーを順に決めてください：1,1
何ゲーム間行いますか？：100

     BET  ベットナンバー  出たナンバー   収支   回数
0      0        0       0    0    0
1      1        1      17   -1    1
2      1        1       1   34    2
3      1        1       4   33    3
4      1        1      14   32    4
..   ...      ...     ...  ...  ...
96     1        1      16  336   96
97     1        1       1  371   97
98     1        1       9  370   98
99     1        1      11  369   99
100    1        1      22  368  100

[101 rows x 5 columns]